@charset "UTF-8";

@function pxRem($px, $base-font-size: 75px) {
  @if (unitless($px)) {
    @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels for you";
    @return pxRem($px + 0px);
    } @else if (unit($px) == rem) {
      @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

%indexPadding {
  padding: pxRem(30px);
}

$font32: pxRem(32);
$font26: pxRem(26);
$font24: pxRem(24);
$font28: pxRem(28);